@import "tailwindcss";

@layer base {
  :root {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
    
    --font-geist: "Geist", Arial, Helvetica, sans-serif;
    
    --color-bg-primary: #000000;
    --color-bg-primary2: #0d0d0d;
    --color-bg-secondary: #151515;
    
    --color-sidebar-hover: #303030;
    --color-chat-user: #2b2b2b;
    --color-chat-ai: #222222;

    --color-txt-primary: #ffffff;
    --color-txt-primary2: #ededed;
    --color-txt-secondary: #a1a1a1;

    --color-bg-navbar: rgba(0, 0, 0, 0.8);
    --color-border-navbar-mobile: #666666;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}
